*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background: black;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        grid-template-rows: 20vh 100vh 30vh;
}
header{
    background: rgba(0, 0, 0, 0.349);
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 20vh;
    width: 100%;
    h1{
        color: red;
        text-shadow: 2px 2px 5px white;
    }
    button{
        padding: 10px 20px;
        background: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }
    select{
        padding: 10px 20px;
        background: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
main{
    background: green;
    grid-area: main;
}
footer{
    background: blue;
    grid-area: footer;
}