*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    width: 100%;
    height: 15vh;
    text-align: center;
    place-content: center;
    position: fixed;
    background: yellow;
    top: 0;
}
.para{
    margin-top: 15vh;

}
h2{
    width: 100%;
    height: 15vh;
    background: green;
    text-align: center;
    place-content: center;
    position: sticky;
    top: 0;
}